<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/internal-nlog-AspNetCore.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="Console" name="logconsole" />
    <target xsi:type="Debugger" name="logdebugger" />
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.DataProtection.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.Hosting.Lifetime" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="logconsole,logdebugger" />
  </rules>
</nlog>
